<div id="bets">
<% @bets.each do |bet| %>
<div id="main">
  <p id="bet_title"><a href="/bet/<%=bet.id%>"><%= bet.title %></a>
  <p>Time Remaining <%= (time_remaining(bet.expiration - Time.now)) %></p>
  <span class = 'eth'>Ð</span><%= bet.remainder %> of betting action remaining<br>
  <p> Betting on <%= bet.winner %> to WIN </p>
  <p class="bet_tags">very tags:
    <% bet.tags.each do |tag| %>
      <a href="/tag/<%=tag.name %>"> <%= tag.name %></a>
    <% end %>
  </p>
</p>
</div>
 <% end %>
</div>
