<div id="bets">
<% @bets.each do |bet| %>
  <p id="bet_title"><a href="/bet/<%=bet.id%>"><%= bet.title %></a> (<%= bet.remainder %>): <%= bet.content[0..100] %></p>
  <p class="bet_tags">
    <% bet.tags.each do |tag| %>
      <a href="/tag/<%=tag.name %>"> <%= tag.name %></a>
  </p>
    <% end %>
 <% end %>
</div>
