<div id="bets">
<% @bets.each do |bet| %>
  <p id="bet_title"><a href="/bet/<%=bet.id%>"><%= bet.title %></a> (<%= bet.remainder %>): <span id="bet_content"><%= bet.content[0..100] %></span></p>
  <p class="bet_tags">very tags:
    <% bet.tags.each do |tag| %>
      <a href="/tag/<%=tag.name %>"> <%= tag.name %></a>
    <% end %>
  </p>
 <% end %>
</div>
